@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #BDBDBD; 
}

header { 
    background-color: #141414;
    height: 70px;
}

.logo {
    width: 97.91px;
    height: 90px;
    left: 80px;
    top: 20px;
    display: flex;
}

.menu_principal img {
    margin-top: 13px;
    margin-left: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}

.menu_principal h1 {
    width: 190px;
    height: 43px;
    left: 174px;
    top: 30px;
    margin-top: 29px;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: "Gabriela", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    color: #fff;
    cursor: pointer;
}

.menu_principal > ul > li {
    display: inline-block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 32px;
    font-family: "Gabriela", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 0px;
    cursor: pointer;
}

.menu_principal{
    display: flex;
    justify-content: space-between;
} 

.menu_principal > ul >li:hover {
    color: #ff7a00;
}

#container {
    background-color: #BDBDBD;
    width: 1310px;
    height: 700px;
    left: 0px;
    top: 139px;
    display: flex;
}

#caixa-de-mensagem{
    position:absolute;
    border-radius: 20px;
    width: 1050px;
    height: 570px;
    left: 147px;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

#line1 {
    position: absolute;
    width: 1050px;
    height: 0px;
    left: 0px;
    top: 60px;

    border: 1px solid rgba(50, 50, 50, 0.5);;
}

#line2 { 
    position: absolute;
    width: 570px;
    height: 0px;
    left: 100px;
    top: 223px;

    border: 1px solid rgba(50, 50, 50, 0.5);;
    transform: rotate(90deg);
}

#line3 {
    position: absolute;
    width: 385px;
    height: 0px;
    left: -30px;
    top: 192px;

    border: 1px solid rgba(50, 50, 50, 0.5);;
    transform: rotate(90deg);
}

#line4 {
    position: absolute;
    width: 385px;
    height: 0px;
    left: -1px;
    top: -100px;

    border: 1px solid rgba(50, 50, 50, 0.5);;
}

#line5 {
    position: absolute;
width: 385px;
height: 0px;
left: -1px;
top: -102px;

border: 1px solid rgba(50, 50, 50, 0.5);;
}

.mensagem-header h1 {
    position: absolute;
    width: 156px;
    height: 38px;
    left: 25px;
    top: 15px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 38px;
    
    color: #141414;
}

.newmessage img {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 30px;
    height: 30px;
    left: 330px;
    top: 20px;
    cursor: pointer;
}


.menu-mensagens h1 {
    position: absolute;
    width: 192px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    left: 0px;
    top: 130px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;

    color: #141414;
    cursor: pointer;
}

.menu-mensagens h2 {
    position: absolute;
    width: 192px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    left: 193px;
    top: 130px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;

    color: #141414;
    cursor: pointer;
}

.menu-mensagens h1:hover {
    background-color: #00A878;
}

.menu-mensagens h2:hover {
    background-color: #00A878;
}

.area-mensagens h4 {
    position: absolute;
    width: 128px;
    height: 23px;
    left: 30px;
    top: 170px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;

    color: #141414;
    cursor: pointer;
}

.area-mensagens h5 {
    position: absolute;
    width: 128px;
    height: 23px;
    left: 280px;
    top: 170px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;

    color: #141414;
}

.area-mensagens h6 {
    position: absolute;
    width: 128px;
    height: 23px;
    left: 30px;
    top: 200px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 32px;

    color: #fff;
}

.area-mensagens h7 {
    position: absolute;
    width: 220px;
    height: 23px;
    left: 30px;
    top: 270px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;

    color: #141414;
    cursor: pointer;
}

.area-mensagens h8 {
    position: absolute;
    width: 128px;
    height: 23px;
    left: 280px;
    top: 270px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;

    color: #141414;
}

.area-mensagens h9 {
    position: absolute;
    width: 220px;
    height: 23px;
    left: 30px;
    top: 300px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 32px;

    color: #fff;
}

.chat h1{
    position: absolute;
    width: 140px;
    height: 30px;
    left: 420px;
    top: 5px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 1000;
    font-size: 22px;
    line-height: 32px;

    color: #141414;
}

.chat h2{
    position: absolute;
    width: 98px;
    height: 26px;
    left: 420px;
    top: 35px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;

    color: #141414;
}

.chat h3{
    z-index: 1;
    position: absolute;
    width: 98px;
    height: 26px;
    left: 835px;
    top: 282px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    
    color: #141414;
}

.chat h4{
    z-index: 1;
    position: absolute;
    width: 98px;
    height: 26px;
    left: 945px;
    top: 528px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    
    color: #141414;
    cursor: pointer;
}

.mainchat img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 30px;
    height: 30px;
    left: 1000px;
    top: -15px;
    cursor: pointer;
}

#caixa-de-pesquisa .caixapesquisa {
    position: absolute;
    width: 345px;
    height: 35px;
    left: 167px;
    top: 170px;
    border-radius: 10px;
}

.searchicon img {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 30px;
    height: 30px;
    left: 475px;
    top: 103px;
    cursor: pointer;
}

#caixa-de-texto {
    position: absolute;
    width: 600px;
    height: 150px;
    left: 563px;
    top: 465px;
}

#caixa-de-texto .caixatexto{
    
    border-radius: 10px;
}

.sendbutton {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 1064px;
    top: 626px;

    background: #00A878;
    border-radius: 10px;
    cursor: pointer;
}

.camerabutton {
    position: absolute;
    width: 70px;
    height: 30px;
    left: 570px;
    top: 626px;
    
    background: #00A878;
    border-radius: 10px;
    cursor: pointer;
}

.camera img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 20px;
    height: 18px;
    left: 530px;
    top: 561px;
    cursor: pointer;
}

.filesbutton {
    position: absolute;
    width: 70px;
    height: 30px;
    left: 660px;
    top: 626px;
    
    background: #00A878;
    border-radius: 10px;
    cursor: pointer;
}

.files img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 17px;
    height: 19px;
    left: 638px;
    top: 561px;
    cursor: pointer;
}

.emojibutton {
    position: absolute;
    width: 70px;
    height: 30px;
    left: 750px;
    top: 626px;
    
    background: #00A878;
    border-radius: 10px;
    cursor: pointer;
}

.emoji img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 19px;
    height: 19px;
    left: 746px;
    top: 561px;
    cursor: pointer;
}

.messagesent {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 965px;
    top: 375px;

    background: #FFFFFF;
    border-radius: 10px;
}


.icon1 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1100px;
    top: 395px;

    background: #141414;
    border-radius: 50px;
}

.icon2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1104px;
    top: 399px;

    background: #d9d9d9;
    border-radius: 50px;
}

