@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@media only screen and (max-width: 768px) { }
@media (min-width: 1200px) {}

/* Usando mobile firts responsive*/
/* Gerais */
html {
    font-family: 'Gabriela', sans-serif;
    background-color: #BDBDBD;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 100%;
    background-color: #141414;
    box-shadow: 0px 3px 10px #3b3b3b;
}

a{

    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FF7A00;
}

.menu-principal {
    display: flex;
    justify-content: space-between;
}

.menu-principal img {
    position: absolute;
    width: 42px;
    left: 30px;
    top: 2px;
    margin-top: 10px;
    margin-left: 30x;
    margin-bottom: 42px;
    cursor: pointer;
    display: flex;
}

.menu-principal h1 {
    margin-top: 23px;
    margin-bottom: 22px;
    margin-left: 72px; 
    font-size: 25px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    color: #FFFFFF;
}

.menu-principal > ul > li  {
    display: inline-block;
    padding: 20px;
    margin-top: 14px;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 0px;
    cursor: pointer;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/* PERFIL */

#container {
    width: auto;
    background-color: #BDBDBD;
    width: auto;
    height: 900px;
    margin-bottom: 40px;
}

.bio {
    position: absolute;
    width: 75%;
    align-self: center;
    height: 40%;
    left: 12%;
    top: 115px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.bio h1{
    z-index: 1;
    position: absolute;
    left: 380px;
    top: 20px;

    font-family: 'Gabriela';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: #FF7A00;
}

.bio h2{
    position: absolute;
    left: 230px;
    top: 80px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    
    
    color: #141414;
}

.edit1{
    z-index: 1;
    position: absolute;
    left: 280px;
    top: 100px;
    font-family: 'Gabriela';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

 
.edit1 .editP{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 260%;
    top: -75px;
    line-height: 10px;
}

.bio .icon {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 67px;
    top: 37px;

    background: #3b3b3b;
    border-radius: 70px;

}

.edit1 img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 25px;
    height: 25px;
    left: 935px;
    top: 20px;
    cursor: pointer;
}

.edit1 img:hover {
    transform: scale(1.11)
}


.informaçao {
    position: absolute;
    width: 75%;
    align-self: center;
    height: 55%;
    left: 12%;
    top: 580px;
    background: rgba(255, 255, 255, 0.51);
    border-radius: 20px;
}


.bio h1{
    z-index: 1;
    position: absolute;
    left: 230px;
    top: 20px;

    font-family: 'Gabriela';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: #FF7A00;
}



.informaçao h1{
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 5px;

    font-family: 'Gabriela';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: #FF7A00;
}


.edit2 .editP{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 93%;
    top: 30px;
    line-height: 10px;
}


.edit2 img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 25px;
    height: 25px;
    left: 100%;
    top: 20px;
    cursor: pointer;
}

.edit2 img:hover {
    transform: scale(1.11)
}

.informaçao h2{
    position: absolute;
    left: 90px;
    top: 71px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

    color: #141414;
}


.email img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 225px;
    top: 130px;
}

.informaçao h3 {
    position: absolute;
    left: 90px;
    top: 182px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

    color: #141414;
}

.email2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 285px;
    top: 100px;
}


.emprego img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 225px;
    top: 130px;
}


.informaçao h4{
    position: absolute;
    left: 540px;
    top: 65px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

    color: #141414;
}




.phone img {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 225px;
    top: 130px;
}
.phone2 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 285px;
    top: 100px;
}
.residencia2{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 285px;
    top: 100px;
}

.emprego2{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 285px;
    top: 100px;
}


.informaçao h5{
    position: absolute;
    left: 540px;
    top: 167px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

    color: #141414;
}

.residencia img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 225px;
    top: 130px;
}

@media screen and (max-width:767px) {
    header {
        width: 100%;
    }

    .menu-principal{
       padding: 1.5rem 4rem; 
    }

    .logo {
        position: absolute;
        width: 97.91px;
        height: 90px;
        left: 0px;
        top: 0px;
        display: flex;
    }
    
    .menu-principal img {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 35px;
    }
    
    .menu-principal h1 {
        font-size: 21px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .menu-principal > ul > li{
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0.8%;
        left: 85%;
        z-index: 2;
    }

    .mobile-menu-icon button:hover {
        transform: scale(1.11)
    }

    .mobile-menu ul {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #141414;
        box-shadow: 0px 3px 10px #3b3b3b;
    }

    .mobile-menu > ul > li {
        z-index: 1;
        display: block;
        padding-top: 1.2rem;
        font-family: "Gabriela", sans-serif;
        font-style: normal;
        font-weight: 300;
        cursor: pointer;
    }

    .open{
        display: block;
    }

    #container {
        width: auto;
    }

    .edit1 .editP{
        position: absolute;
        width: 30px;
        height: 30px;
        left: 90%;
        top: -75px;
        line-height: 10px;
    }
}

@media screen and (min-width:767px) and (max-width:1023px) {
    header {
        width: 100%;
    }

    .menu-principal{
       padding: 1.5rem 4rem; 
    }

    .logo {
        position: absolute;
        width: 97.91px;
        height: 90px;
        left: 0px;
        top: 0px;
        display: flex;
    }
    
    .menu-principal img {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 35px;
    }
    
    .menu-principal h1 {
        font-size: 23px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .menu-principal > ul > li{
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0.8%;
        left: 85%;
        z-index: 2;
    }

    .mobile-menu-icon button:hover {
        transform: scale(1.11)
    }

    .mobile-menu ul {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #141414;
        box-shadow: 0px 3px 10px #3b3b3b;
    }

    .mobile-menu > ul > li {
        z-index: 1;
        display: block;
        padding-top: 1.2rem;
        font-family: "Gabriela", sans-serif;
        font-style: normal;
        font-weight: 300;
        cursor: pointer;
    }

    .open{
        display: block;
    }

    #container {
        width: auto;
    }

    .edit1 .editP{
        position: absolute;
        width: 30px;
        height: 30px;
        left: 150%;
        top: -75px;
        line-height: 10px;
    }
}

/* FOTO */
/*input[type='file']{
    display: none;
}

.max-width {
    max-width: 500px;
    width: 100%;
}

/*#imgPhoto {
    margin-top: 10%;
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: #eee;
    border: 5px solid #ccc;
    cursor: pointer;
    border-radius: 50%;
    transition: background .3s;
  }

#imgPhoto:hover {
    background-color: rgb(180, 180, 180);
    border: 5px solid #111;
} */

input[type='file']{
    display: none;
}

#customUpload {
    display: inline-block;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 1px dashed #ccc;
    text-align: center;
    cursor: pointer;
    background: #ddd;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
  }
  
  #customUpload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #customUpload span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }