@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
    font-family: 'Gabriela', sans-serif;
    background-color: #BDBDBD;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 100%;
    background-color: #141414;
    box-shadow: 0px 3px 10px #3b3b3b;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #00A878;
}

.menu-principal {
    display: flex;
    justify-content: space-between;
}

.menu-principal img {
    position: absolute;
    width: 42px;
    left: 30px;
    top: 2px;
    margin-top: 10px;
    margin-left: 30x;
    margin-bottom: 42px;
    cursor: pointer;
    display: flex;
}

.menu-principal h1 {
    margin-top: 23px;
    margin-bottom: 22px;
    margin-left: 72px; 
    font-size: 25px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    color: #FFFFFF;
}

.menu-principal > ul > li  {
    display: inline-block;
    padding: 20px;
    margin-top: 14px;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 0px;
    cursor: pointer;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

#container {
    background-color: #BDBDBD;
    width: auto;
    height: 800px;
    margin-bottom: 40px;
}

.bio {
    position: absolute;
    width: 75%;
    align-self: center;
    height: 40%;
    left: 12%;
    top: 115px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0px 3px 10px #3b3b3b;
}

.bio h1{
    z-index: 1;
    position: absolute;
    left: 24%;
    top: 20px;

    font-family: 'Gabriela';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: #FF7A00;
}

input[type='file']{
    display: none;
}

#customUpload {
    display: inline-block;
    overflow: hidden;

    position: absolute;
    left: 5%;
    top: 37px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ddd;
    
    align-items: center;
    justify-content: center;
    border: 2px solid #3b3b3b;
    cursor: pointer;
}
  
#customUpload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-bio{
    z-index: 1;
    position: absolute;
    left: 25%;
    top: 85px;
    font-family: 'Lora';
    font-style: normal;
    font-size: 15px;
}

.bio .edit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 93%;
    top: 25px;
    line-height: 10px;
    cursor: pointer;
}

.bio .edit:hover {
    transform: scale(1.11)
}

.informaçao {
    position: absolute;
    width: 75%;
    align-self: center;
    height: 55%;
    left: 12%;
    top: 490px;
    background: rgba(255, 255, 255, 0.51);
    border-radius: 20px;
    box-shadow: 0px 3px 10px #3b3b3b;
}

.informaçao h1{
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 5px;

    font-family: 'Gabriela';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: #FF7A00;
}

.edit-informaçoes .edit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 93%;
    top: 30px;
    line-height: 10px;
    cursor: pointer;
}

.edit-informaçoes .edit:hover {
    transform: scale(1.11)
}

.email-icon img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 10%;
    top: 110px;
}

.email #email{
    position: relative;
    left: 14%;
    top: 78px;

    border-radius: 20px;
    width: 200px;
    height: 20px;

    font-family: 'Lora';
    font-style: normal;
    font-size: 15px;
}

.phone-icon img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 22px;
    height: 22px;
    left: 10%;
    top: 150px;
}

.phone #phone {
    position: relative;
    left: 14%;
    top: 115px;

    border-radius: 20px;
    width: 200px;
    height: 20px;

    font-family: 'Lora';
    font-style: normal;
    font-size: 15px;
}

.residencia-icon img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 18px;
    height: 22px;
    left: 50%;
    top: -25px;
}

.residencia #residencia{
    position: relative;
    left: 54%;
    top: -55px;

    border-radius: 20px;
    width: 200px;
    height: 20px;

    font-family: 'Lora';
    font-style: normal;
    font-size: 15px;
}

.cargo-icon img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 20px;
    height: 22px;
    left: 50%;
    top: 20px;
}

.cargo #cargo {
    position: relative;
    left: 54%;
    top: -12px;

    border-radius: 20px;
    width: 200px;
    height: 20px;

    font-family: 'Lora';
    font-style: normal;
    font-size: 15px;
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Permite que o modal fique fixo na tela */
    z-index: 1; /* Define a ordem de sobreposição */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona rolagem se o conteúdo do modal for maior que a tela */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro semitransparente */
}

.modal-container {
    background-color: #fefefe;
    margin: 10% auto; /* Centraliza o modal verticalmente e o coloca 15% de distância do topo */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 75%;
    height: 450px;
    font-family: 'Lora';
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.form-biografia{
    position: relative;
    top: 5px;
    font-size: 14px;
}

#form-biografia{
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Lora';
}

.form-phone{
    position: relative;
    top: 5px;
    font-size: 14px; 
}

#form-phone{
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Lora';

    position: relative;
    top: -27px;
    left: 7%;
}

.form-residencia{
    position: relative;
    top: 5px;
    font-size: 14px; 
}

#form-residencia{
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Lora';

    position: relative;
    top: -27px;
    left: 8.5%;
}

.form-cargo{
    position: relative;
    top: 5px;
    font-size: 14px; 
}

#form-cargo{
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Lora';

    position: relative;
    top: -27px;
    left: 5.5%;
}

#enviar{
    position: relative;
    top: -40px;
    left: 90%;
    border-radius: 10px;
    padding: 5px;

    font-size: 17px; 
    font-family: 'Lora';
    cursor: pointer;
}

#enviar:hover{
    color: #00A878;
}


@media screen and (max-width:767px) {
    header {
        width: 100%;
    }

    .menu-principal{
       padding: 1.5rem 4rem; 
    }

    .logo {
        position: absolute;
        width: 97.91px;
        height: 90px;
        left: 0px;
        top: 0px;
        display: flex;
    }
    
    .menu-principal img {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 35px;
    }
    
    .menu-principal h1 {
        font-size: 21px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .menu-principal > ul > li{
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0.8%;
        left: 85%;
        z-index: 2;
    }

    .mobile-menu-icon button:hover {
        transform: scale(1.11)
    }

    .mobile-menu ul {
        position: relative;
        top: -40px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #141414;
        box-shadow: 0px 3px 10px #3b3b3b;
    }

    .mobile-menu > ul > li {
        display: block;
        padding-top: 1.2rem;
        font-family: "Gabriela", sans-serif;
        font-style: normal;
        font-weight: 300;
        cursor: pointer;
    }

    .open{
        display: block;
    }

    #container {
        width: auto;
        height: 1000px;
    }

    .bio {
        display: flex;
        width: 75%;
        height: 340px;
    }
    
    .bio h1{
        z-index: 0;
        position: absolute;
        left: 42%;
        top: 170px;
    
        font-size: 18px;
    }

    #customUpload {
        position: absolute;
        left: 32%;
        top: 37px;
        width: 140px;
        height: 140px;
    }

    #customUpload img{
        position: relative;
        top: 0px;
        left: 0px;
    }
    
    .bio img {
        position: relative;
        left: 13%;
        top: 240px;
    }
     
    .edit-bio {
        position: relative;
        left: 20%;
        top: 238px;
        z-index: 0;
        font-size: 12px;
        width: 250px;
    }
     
    .bio .edit{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 85%;
    }
    
    .informaçao {
        position: absolute;
        height: 520px;
        top: 550px;
    }
    
    .informaçao h1{
        position: absolute;
        left: 10%;
        font-size: 18px;
    }
    
    .edit-informaçoes .edit{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 85%;
    }
    
    .email #email{
        position: relative;
        left: 20%;
        top: 80px;
        font-size: 12px;
    }
    
    .phone #phone {
        position: relative;
        left: 20%;
        top: 120px;
        font-size: 12px;
    }
    
    .residencia-icon img{
        position: absolute;
        width: 18px;
        height: 22px;
        left: 10%;
        top: 318px;
    }
    
    .residencia #residencia{
        position: relative;
        left: 20%;
        top: 198px;
        font-size: 12px;
    }
    
    .cargo-icon img{
        position: absolute;
        width: 22px;
        height: 22px;
        left: 10%;
        top: 418px;
    }
    
    .cargo #cargo{
        position: relative;
        left: 20%;
        top: 268px;
        font-size: 12px;
    }

    .modal-container h2{
        font-size: 20px;
    }

    .form-biografia{
        position: relative;
        top: 5px;
        font-size: 12px;
    }
    
    #form-biografia{
        width: 80%;
        margin-bottom: 10px;
        border-radius: 10px;
        font-family: 'Lora';
    }
    
    .form-phone{
        position: relative;
        font-size: 12px; 
    }
    
    #form-phone{
        width: 150px;
        position: relative;
        top: -25px;
        left: 17%;
        font-size: 12px; 
    }
    
    .form-residencia{
        position: relative;
        font-size: 12px; 
    }
    
    #form-residencia{
        width: 150px;
        position: relative;
        top: -25px;
        left: 20%;
        font-size: 12px; 
    }
    
    .form-cargo{
        position: relative;
        font-size: 12px; 
    }
    
    #form-cargo{
        width: 150px;
        position: relative;
        top: -25px;
        left: 12%;
        font-size: 12px; 
    }
    
    #enviar{
        position: absolute;
        top: 485px;
        left: 75%;
        font-size: 13px; 
    }
    
}

@media screen and (min-width:767px) and (max-width:1023px) {
    header {
        width: 100%;
    }

    .menu-principal{
       padding: 1.5rem 4rem; 
    }

    .logo {
        position: absolute;
        width: 97.91px;
        height: 90px;
        left: 0px;
        top: 0px;
        display: flex;
    }
    
    .menu-principal img {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 35px;
    }
    
    .menu-principal h1 {
        font-size: 23px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .menu-principal > ul > li{
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0.8%;
        left: 85%;
        z-index: 2;
    }

    .mobile-menu-icon button:hover {
        transform: scale(1.11)
    }

    .mobile-menu ul {
        position: relative;
        top: -40px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #141414;
        box-shadow: 0px 3px 10px #3b3b3b;
    }

    .mobile-menu > ul > li {
        display: block;
        padding-top: 1.2rem;
        font-family: "Gabriela", sans-serif;
        font-style: normal;
        font-weight: 300;
        cursor: pointer;
    }

    .open{
        display: block;
    }

    #container {
        width: auto;
    }
    
    .bio h1{
        z-index: 0;
        position: absolute;
        left: 30%;
        top: 20px;
    }

    #customUpload {
        position: absolute;
        left: 5%;
        top: 40px;
        width: 140px;
        height: 140px;
    }

    .edit-bio{
        position: absolute;
        left: 31%;
        z-index: 0;
        font-size: 13px;
    }
    
    .bio .edit{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    
        position: absolute;
        width: 30px;
        height: 30px;
        left: 93%;
        top: 25px;
        line-height: 10px;
        cursor: pointer;
    }

    .email-icon{
        position: relative;
        top: -5px;
    }
    
    .email #email{
        position: relative;
        top: 75px;
        font-size: 13px;
    }
    
    .phone #phone {
        font-size: 13px;
    }
    
    .residencia #residencia{
        font-size: 13px;
    }
    
    .cargo #cargo {
        font-size: 13px;
    }

    
    #form-phone{
        width: 170px;
        position: relative;
        left: 10%;
    }
    
    #form-residencia{
        width: 170px;
        position: relative;
        left: 12%;
    }
    
    #form-cargo{
        width: 170px;
        position: relative;
        left: 8%;
    }
    
    #enviar{
    
        font-size: 15px; 
    }

}
