@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* Gerais */
html {
    font-family: 'Gabriela', sans-serif;
    background-color: #BDBDBD;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    width: 100%;
    background-color: #141414;
}

a{

    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #00a878;
}

.menu-principal {
    display: flex;
    justify-content: space-between;
}

.menu-principal img {
    position: absolute;
    width: 42px;
    left: 30px;
    top: 2px;
    margin-top: 10px;
    margin-left: 30x;
    margin-bottom: 42px;
    cursor: pointer;
    display: flex;
}

.menu-principal h1 {
    margin-top: 23px;
    margin-bottom: 22px;
    margin-left: 72px; 
    font-size: 25px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    color: #FFFFFF;
}

.menu-principal > ul > li  {
    display: inline-block;
    padding: 20px;
    margin-top: 14px;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 0px;
    cursor: pointer;
}


#container {
    background-color: #BDBDBD;
}

.bio {
    position: absolute;
    width: 75%;
    align-self: center;
    height: 40%;
    left: 150px;
    top: 115px;
    
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.bio h1{
    z-index: 1;
    position: absolute;
    left: 230px;
    top: 20px;

    font-family: 'Gabriela';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;

    color: #FF7A00;
}

.bio h2{
    position: absolute;
    left: 230px;
    top: 80px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    
    
    color: #141414;
}


.bio .icon1{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 60px;
    top: 30px;

    background: rgba(0, 0, 0, 0.25);
    border-radius: 70px;
}

.bio .icon2 {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 67px;
    top: 37px;

    background: #D9D9D9;
    border-radius: 70px;

}

.edit1 img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 25px;
    height: 25px;
    left: 935px;
    top: 20px;
    cursor: pointer
}

.edit1 img:hover {
    transform: scale(1.11)
}

.informaçao {
    position: absolute;
    width: 75%;
    align-self: center;
    height: 48%;
    left: 150px;
    top: 480px;

    background: rgba(255, 255, 255, 0.51);
    border-radius: 20px;
}

.informaçao h1{
    position: absolute;
    left: 50px;
    top: 0px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;

    color: #FF7A00;
}

.edit2 img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 25px;
    height: 25px;
    left: 935px;
    top: 20px;
    cursor: pointer
}

.edit2 img:hover {
    transform: scale(1.11)
}

.informaçao h2{
    position: absolute;
    left: 90px;
    top: 71px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

    color: #141414;
}

.email img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 22px;
    height: 22px;
    left: 50px;
    top: 63px;
}

.informaçao h3 {
    position: absolute;
    left: 90px;
    top: 182px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

    color: #141414;
}

.emprego img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 22px;
    height: 22px;
    left: 50px;
    top: 110px;
}

.informaçao h4{
    position: absolute;
    left: 540px;
    top: 65px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

    color: #141414;
}

.phone img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 20px;
    height: 20px;
    left: 500px;
    top: 43px;
}

.informaçao h5{
    position: absolute;
    left: 540px;
    top: 167px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

    color: #141414;
}

.residencia img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 18px;
    height: 23px;
    left: 500px;
    top: 128px;
}