@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #BDBDBD; 
}

header { 
    width: 100%;
    background-color: #141414;
    box-shadow: 0px 3px 10px #3b3b3b;
    height: 70px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FF7A00;
}

.logo {
    width: 97.91px;
    height: 90px;
    left: 80px;
    top: 20px;
    display: flex;
}

.menu_principal img {
    margin-top: 13px;
    margin-left: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}

.menu_principal h1 {
    width: 190px;
    height: 43px;
    left: 174px;
    top: 30px;
    margin-top: 29px;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: "Gabriela", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    color: #fff;
    cursor: pointer;
}

.menu_principal > ul > li {
    display: inline-block;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 32px;
    font-family: "Gabriela", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 0px;
    cursor: pointer;
}

.menu_principal{
    display: flex;
    justify-content: space-between;
} 


.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

#container {
    width: auto;
    height: 900px;
    margin-bottom: 40px;
}

.filtros {
    position: absolute;
    padding-top: 10px;
    left: 4%;
    top: 25%;
    background: #FFFFFF;
    border-radius: 10px;
    height: 420px;
    width: 18%;
}

.filtros h1{
    position: absolute;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    top: 15px;
    left: 20px;
    color: #000000;
}

input[type=text],
textarea {
    height: 40px;
    width: 90%;
    left: 11px;
    border-radius: 10px;  
    box-sizing: border-box;

    position: absolute;
    left: 5%;
    top: 11%;
    right: 66.09%;
    background: #FFFFFF;
    border: 1px solid #797979;
    border-radius: 10px;
    color: #797979;
    padding-left: 8px;
    font-family: 'Lora';
    font-style: normal;
    font-size: 15px;
}

.itens {
    position: absolute;
    top: 23%}

.itens p {
    display: block;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 0;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #797979;
    cursor: pointer;
}


.resultados h1 {
    position: absolute;
    left: 31%;
    right: 25.56%;
    top: 15%;
    bottom: 73.93%;
    font-family: 'Gabriela';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #000000;
}


.perfil {
    position: absolute;
    padding-top: 10px;
    left: 28%;
    top: 25%;
    background: #FFFFFF;
    border-radius: 10px;
    height: 300px;
    width: 60%;
    position: absolute;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;}

.foto {
    position: absolute;
    left: 1.71%;
    top: 3.92%;
    bottom: 65.03%;
    background: #D9D9D9;
    height: 80px;
    width: 80px;
    left: 17px;
    top: 12px;
    border-radius: 50px;
}

.dados {
    position: absolute;
    left: 15%;
    top: 5%;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #00A878;
}

.dados p {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #797979;
    margin-top: -6px;
}

.botaoMensagem{
    position: absolute;
    left: 60%;
    top: 5%;
    padding-top: 8px;
    box-sizing: border-box;
    height: 35px;
    width: 150px;
    background-color: #FFFFFF;
    border-color: #797979;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lora';
    font-size: 15px;
}

.botaoMensagem a {
    color: #797979;
}

.botaoMensagem a:hover {
    color: #00A878;
}
  

.botaoPerfil {
    position: absolute;
    left: 80%;
    top: 5%;
    padding-top: 8px;
    box-sizing: border-box;
    height: 35px;
    width: 150px;
    background-color: #FFFFFF;
    border-color: #797979;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lora';
    font-size: 15px;
    color: #797979;
}
        
.botaoPerfil a {
    color: #797979;
}

.botaoPerfil a:hover {
    color: #00A878;
}
        
.corpo {
    position: absolute;
    padding: 20px;
    left: 1.71%;
    right: 1.81%;
    top: 30%;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    font-family: Lora;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: justify;
}

.corpo p {
    padding-top: 10px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
}


.corpo> ul > li { 
    position: relative;
    left: 40px;
    top: -25px;
    display: inline-block;
    margin-left: 10px;
    padding: 5px;  
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #797979;
    border-radius: 10px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #797979;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    header {
        width: 100%;
    }

    .menu_principal{
       padding: 1.5rem 4rem; 
    }

    .logo {
        position: absolute;
        width: 97.91px;
        height: 90px;
        left: 0px;
        top: 0px;
        display: flex;
    }
    
    .menu_principal img {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 35px;
    }
    
    .menu_principal h1 {
        font-size: 21px;
    }

    .menu_principal > ul > li{
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0.8%;
        left: 85%;
        z-index: 2;
    }

    .mobile-menu-icon button:hover {
        transform: scale(1.11)
    }

    .mobile-menu ul {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #141414;
        box-shadow: 0px 3px 10px #3b3b3b;
    }

    .mobile-menu > ul > li {
        z-index: 1;
        display: block;
        padding-top: 1.2rem;
        font-family: "Gabriela", sans-serif;
        font-style: normal;
        font-weight: 300;
        cursor: pointer;
    }

    .open{
        display: block;
    }

    #container{
        width: auto;
        height: 1200px;
        display: flex;
    }

    .filtros {
        position: absolute;
        left: 10%;
        top: 20%;
        width: 80%;
        height: 50%;
    }
    
    .filtros h1{
        position: absolute;
        font-size: 14px;
        top: 12px;
        left: 20px;
    }
    
    input[type=text],
    textarea {
        height: 30px;
        position: absolute;
        font-size: 12px;
        top: 14%;
    }
    
    .itens p {
        display: inline-block;
        font-size: 13px;
        margin-top: 5px;
        padding: 8px;
    }
    
    .resultados h1 {
        font-size: 13px;
        position: absolute;
        top: 440px;
        width: 300px;
        left: 10%;
    }
    
    
    .perfil {
        height: 350px;
        width: 80%;
        left: 10%;
        position: absolute;
        top: 520px;
    }
    
    .dados {
        position: absolute;
        left: 15%;
        top: 5%;
        font-size: 15px;
    }
    
    .dados p {
        font-size: 11px;
    }
    
    .botaoMensagem{
        position: absolute;
        left: 40%;
        width: 100px;
        height: 40px;
        font-size: 11px;
    }
      
    .botaoPerfil {
        position: absolute;
        left: 70%;
        width: 100px;
        height: 40px;
        font-size: 11px;
    }
                
    .corpo p {
        font-size: 12px;
    }
     
    .corpo> ul > li { 
        font-size: 12px;
    }
}

@media screen and (min-width:767px) and (max-width:1023px) {
    header {
        width: 100%;
    }

    .menu_principal{
       padding: 1.5rem 4rem; 
    }

    .logo {
        position: absolute;
        width: 97.91px;
        height: 90px;
        left: 0px;
        top: 0px;
        display: flex;
    }
    
    .menu_principal img {
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 35px;
    }
    
    .menu_principal h1 {
        font-size: 23px;
    }

    .menu_principal > ul > li{
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0.8%;
        left: 85%;
        z-index: 2;
    }

    .mobile-menu-icon button:hover {
        transform: scale(1.11)
    }

    .mobile-menu ul {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #141414;
        box-shadow: 0px 3px 10px #3b3b3b;
    }

    .mobile-menu > ul > li {
        z-index: 1;
        display: block;
        padding-top: 1.2rem;
        font-family: "Gabriela", sans-serif;
        font-style: normal;
        font-weight: 300;
        cursor: pointer;
    }

    .open{
        display: block;
    }

    #container{
        width: auto;
        height: 900px;
        display: flex;
    }

    .filtros {
        position: absolute;
        left: 4%;
        top: 25%;
        width: 18%;
        height: 60%;
    }
    
    .filtros h1{
        position: absolute;
        font-size: 15px;
        top: 15px;
        left: 20px;
    }
    
    input[type=text],
    textarea {
        height: 30px;
        position: absolute;
        font-size: 12px;
    }
    
    .itens p {
        font-size: 12px;
    }
    
    
    .resultados h1 {
        font-size: 14px;
    }
    
    
    .perfil {
        height: 250px;
        width: 60%;
    }
    
    .dados {
        position: absolute;
        left: 15%;
        top: 5%;
        font-size: 18px;
    }
    
    .dados p {
        font-size: 13px;
    }
    
    .botaoMensagem{
        position: absolute;
        left: 52%;
        width: 130px;
        font-size: 13px;
    }
      
    .botaoPerfil {
        position: absolute;
        left: 75%;
        top: 5%;
        width: 130px;
        font-size: 13px;

    }
                
    .corpo p {
        font-size: 14px;
    }
     
    .corpo> ul > li { 
        font-size: 14px;
    }
}

